* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: rgb(29, 28, 28);
  max-width: 1000px;
}

.container {
  /* border: solid red; */
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url(./images/honeycombs_shapes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.web-container {
  display: flex;
  flex-direction: row;
}

/* nav main{
    flex: 1;
     border: solid green;
} */

/* ///////////////////////nav */
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.navbar {
  width: 100%;
  background-color: black;
  /* border: solid white; */
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 15px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: grey;
}

/* Current/active navbar link */
.active {
  background-color: #6b6d6c;
}

/* social media */
.media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: 200px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #8a8a8a;
  color: white;
}

.fa-twitter {
  background: #8a8a8a;
  color: white;
}

.fa-linkedin {
  background: #8a8a8a;
  color: white;
}

/* //////////////////////////////main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

main .overlay {
  border-radius: 10px;
  border: solid black;
  background-color: #65819b;
  height: 800px;
  width: 400px;
  position: relative;
  top: 380px;
}

main .header {
  border: solid rgb(23, 223, 179);
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 50px;
  left: 40px;
  border-radius: 10px;
}

main h1 {
  color: rgb(23, 223, 179);
  font-size: 100px;
}

main p {
  text-align: center;
  width: 400px;
  color: white;
  font-size: large;
  position: relative;
  padding: 10px;
}

.button {
  border: solid red;
  font-size: large;
  color: rgb(23, 223, 179);
  display: flex;
  background-color: rgb(29, 28, 28);
  border: solid rgb(30, 145, 120);
  text-decoration: none;
  position: relative;
  top: 0px;
  right: 10px;
  cursor: pointer;
  padding: 10px;
}

section {
  display: flex;
}

section img {
  position: relative;
  top: 300px;
  left: 80px;
  opacity: 70%;
}

/*////////////////////////responsive */
@media screen and (max-width: 500px) {
  .web-container {
    flex-direction: column;
  }

  main .header {
    left: 0px;
    bottom: 350px;
  }

  main .overlay {
    top: 0px;
    right: 20px;
  }

  h1 {
    font-size: 30px;
  }

  .media {
    top: 40px;
  }

  .button {
    left: 10px;
  }

  .navbar a {
    float: none;
    display: block;
  }

  section img {
    width: 300px;
    height: 400px;
    top: 0px;
    left: 10px;
  }
}
