*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-color: rgb(29, 28, 28);
}

.container{
    /* border: solid red; */
    width: 100%;
    height: 100vh;
    display: flex;
}
nav,main{
    /* flex: 1; */
    /* border: solid green; */
}

/* nav */
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.navbar {
    width: 100%;
    background-color: black;
    /* border: solid white; */
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 15px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: grey;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #6b6d6c;
  }

/* social media */
.media{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 200px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #8a8a8a;
  color: white;
}

.fa-twitter {
  background: #8a8a8a;
  color: white;
}

.fa-linkedin {
  background: #8a8a8a;
  color: white;
}


/* //////////////////////////////main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;

}

main h1{
    color: white;
    font-size: 100px;
}

main p{
    color: white;
    font-size: large;
}


/*////////////////////////responsive */
@media screen and (max-width: 500px) {
    .container{
        width:100%;
        height: 100vh;
    }

    h1{
        font-size: 30px;
    }
    
    .media{
        top: 40px;
     }

    .button{
        right: 1%;
    }

    .navbar a {
      float: none;
      display: block;
    }
  }