*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-color: rgb(29, 28, 28);
    min-height: 100vh;
}


.container{
    /* border: solid red; */
    width: 100%;
    height: 100vh;
    display: flex;
    
}

.web-container{
  display: flex;
  flex-direction: row;
}

nav,main,section{
    /* flex: 1; */
    /* border: solid green; */
}

/* /////////////////////////////////nav */
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.navbar {
    width: 100%;
    background-color: black;
    /* border: solid white; */
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: grey;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #6b6d6c;
  }

/* social media */
.media{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 200px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #8a8a8a;
  color: white;
}

.fa-twitter {
  background: #8a8a8a;
  color: white;
}

.fa-linkedin {
  background: #8a8a8a;
  color: white;
}


/* //////////////////////////////main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

main h1{
    color: white;
    font-size: 60px;
}

main p{
    color: grey;
    font-size: medium;
}

.button{
    font-size: large;
    color:rgb(23, 223, 179);
    display: flex;
    background-color: rgb(29, 28, 28);
    border: solid rgb(30, 145, 120);
    text-decoration: none;
    position: relative;
    right: 150px;
    cursor: pointer;
    padding: 10px;
}

/*////////////////////// section */
section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

section p{
    color: white;
    padding: 10px;
}

#spinner {
    text-align: center;
    animation-name: spin, depth;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    font-size: 150px;
  }

  @keyframes spin {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(-360deg); }
  }
  @keyframes depth {
    0% { text-shadow: 0 0 rgb(10, 10, 10); }
    25% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
    50% { text-shadow: 0 0 black; }
    75% { text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black; }
    100% { text-shadow: 0 0 black; }
  }

/*////////////////////////responsive */
@media screen and (max-width: 500px){
 .web-container{
        flex-direction: column;
    }

    h1{
        font-size: 30px;
    }
    
    .media{
      top: 40px;
   }

    section{
        padding: 0px;
    }

    .button{
        right: 1%;
    }

    #spinner{
      font-size: 80px;
    }

    .navbar a {
      float: none;
      display: block;
    }
  }